h1, h2, h3, h4 {
	font-family: Georgia, serif;
}

body {
	font-family: Helvetica, sans-serif;
}

.main {
	
	width: 800px;
	margin: auto;
	margin-top: 20px;
}

#cabecera-formulario {
	
}

select {
	width: 100%;
}

.celda-form {
	margin: 10px 0px;
}

.btn-aceptar {
	margin-top: 20px;
	background-color: #1a75ff;
	border-radius: 5px;
	padding: 10px;
	border: 0;
	color: white;
	font-size: 22px;
	min-width: 200px;
}

.btn-aceptar:active {
	background-color: #0052cc;
}

.btn-aceptar:disabled {
	background-color: #ccc;
}

.centrar-texto {
	text-align: center;
}

.logo {
	width: 300px;
	margin-bottom: 20px;
}

.loading-img {
	display: block;
	margin: auto;
	width: 150px;
	height: 150px;
	background-image: url("../img/loading.gif");
	background-position: center; 
}

.centrar-bloque {
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
}

.content {
	margin-top: 20px;
}

.texto-loading {
	font-size: 22px;
}

.parametros {
	display: flex;
	justify-content: space-around;
}

.parametros>.celda-form {
	width: 40%;
}

.parametros-total {
	border: solid 1px;
	border-radius: 5px;
	padding: 20px;
	margin: 20px 0;
}